/* Container for Entire Navigation */
.navigation-container
{
    display: inline-block;
    position: absolute;
    margin: 5vh 5vw 5vh 20vw;
    height: 90vh;
    width: 75vw;
}

/* Container for 3 Nav Boxes */
.navbox-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    font-size: 6vw;
}

/* Mobile */
@media only screen and (max-width: 768px) {

    /* Container for Entire Navigation */
    .navigation-container
    {
        display: none;
        position: relative;
        margin: 0 0 0 0;
        height: 80vh;
        width: 100vw;
        /* background: black; */
    }

}