/* Container for Entire Gallery */
.gallery-main-container
{
    display: inline-block;
    margin: 5vh 5vw 5vh 20vw;
    width: 75vw;
}

/* Container for Gallery Grid */
.gallery-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vh;
    justify-items: center;
    align-items: center;
}

/* Preview for Each Gallery Box */
.gallery-box
{
    width: 20vw;
    height: 20vw;
    padding: 10px 10px 10px 10px; 
    overflow: hidden;
    background: white;
    text-align: center;
}

/* Actual Image */
.gallery-preview-image 
{
    position: absolute;
    height: 20vw;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transition: transform 100ms ease 0s, opacity 100ms ease-out 0s; 
}

/* Preview title for Gallery on Hover */
.gallery-preview-title
{
    color: white;
    font-size: 3rem;
    position: absolute;
    opacity: 0;
    z-index: 5;
    margin: 0 0 0 10px;
    text-shadow: 3px 0 0 #2E3532, 0px 0 0 #2E3532, 0 0px 0 #2E3532, 0 0px 0 #2E3532, 3px 3px #2E3532, 0px 0px 0 #2E3532, 0.5px -0.5px 0 #2E3532, -0.5px 0.5px 0 #2E3532;
}

/* Gallery Preview Date */
.gallery-preview-date
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    opacity: 0;
    z-index: 5;
    margin: 65px 0 0 10px;
    text-shadow: 2px 0 0 #2E3532, 0px 0 0 #2E3532, 0 0px 0 #2E3532, 0 0px 0 #2E3532, 2px 2px #2E3532, 0px 0px 0 #2E3532, 0.5px -0.5px 0 #2E3532, -0.5px 0.5px 0 #2E3532;
}

/* Mobile */
@media only screen and (max-width: 768px) {

    /* Container for Entire Gallery */
    .gallery-main-container
    {
        margin: 5vh 5vw 5vh 5vw;
        width: 90vw;
    }

    /* Container for Gallery Grid */
    .gallery-container
    {
        grid-template-columns: 1fr;
        grid-row-gap: 2vh;
    }

    /* Preview for Each Gallery Box */
    .gallery-box
    {
        width: 70vw;
        height: 70vw;
    }

    /* Actual Image */
    .gallery-preview-image
    {
        height: 70vw;
    }

    /* Preview title for Gallery on Hover */
    .gallery-preview-title
    {
        font-size: 2.5rem;
        text-shadow: 2px 0 0 #2E3532, 0px 0 0 #2E3532, 0 0px 0 #2E3532, 0 0px 0 #2E3532, 2px 2px #2E3532, 0px 0px 0 #2E3532, 0.5px -0.5px 0 #2E3532, -0.5px 0.5px 0 #2E3532;
        margin: 0 0 0 2px;
    }

    /* Gallery Preview Date */
    .gallery-preview-date
    {
        font-size: 1.5rem;
        text-shadow: 2px 0 0 #2E3532, 0px 0 0 #2E3532, 0 0px 0 #2E3532, 0 0px 0 #2E3532, 2px 2px #2E3532, 0px 0px 0 #2E3532, 0.5px -0.5px 0 #2E3532, -0.5px 0.5px 0 #2E3532;
        margin: 50px 0 0 2px;
    }
}